<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILEEVENT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/app/oracle/config/domains/SIGDEV_SOA/logs/vdf_sig-osb-event.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/app/oracle/config/domains/SIGDEV_SOA/logs/archive/vdf_sig-osb-event.%d{yyyy-MM-dd-HH-mm}.log.zip</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyyMMddHHmmss} | %X{request_id} | %X{correlation_id} | %X{action} | %X{object_id} | %X{description} | %X{requestor_agent} | %X{status_code} | %X{time_to_complete} | %X{adapter_time_sum} | %X{target_agent} | %X{target_request_id} |  %X{level} | %X{target_ip}%n</pattern>
		</encoder>
	</appender>

	<appender name="FILELOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/app/oracle/config/domains/SIGDEV_SOA/logs/vdf_sig-osb-service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/var/app/oracle/config/domains/SIGDEV_SOA/logs/archive/vdf_sig-osb-service.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>9</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		<!-- <filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>DENY</onMatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>DENY</onMatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
			<onMatch>DENY</onMatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>DENY</onMatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
		</filter>-->
		<encoder>
			<pattern>%d{yyyyMMddHHmmss} | %X{request_id} | %X{correlation_id} | %X{domain} | %X{category} | %X{target} | %X{service} | %X{operation} | %X{version} | %X{source} | %X{target_endpoint} | %X{log_level} | %X{task} | %X{username} | %X{timestamp} | %X{payload} | %X{status_code} | %X{status_message} | %X{engine} | %X{dynamicKeys}%n</pattern>
		</encoder>
	</appender>

	<appender name="DB_APPENDER" class="com.vodafone.sobe.reporting.SoafJDBCAppenderLogback">

		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{dd-MM-yyyyHH:mm:ss} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.vodafone.sobe.logger.db.SOAFReportHandler">
		<appender-ref ref="FILELOG" /> 
		<appender-ref ref="DB_APPENDER" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.vodafone.sobe.logger.db.SOAFReportEventHandler">
		<appender-ref ref="FILEEVENT" />
	</logger>
	<root level="DEBUG">

	</root>
</configuration>
