<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>soaf-osb-ws</display-name>
	<servlet>
		<display-name>StopRepublisherTimer</display-name>
		<servlet-name>StopRepublisherTimer</servlet-name>
		<servlet-class>com.telco.osb.publisher.scheduler.ws.StopRepublisherTimer</servlet-class>
	</servlet>
	<servlet>
		<display-name>StartRepublisherTimer</display-name>
		<servlet-name>StartRepublisherTimer</servlet-name>
		<servlet-class>com.telco.osb.publisher.scheduler.ws.StartRepublisherTimer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartRepublisherTimer</servlet-name>
		<url-pattern>/StartRepublisherTimer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StopRepublisherTimer</servlet-name>
		<url-pattern>/StopRepublisherTimer</url-pattern>
	</servlet-mapping>
</web-app>